<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading" id='welcome_banner'>Your Repositories</div>
  <div class="panel-body">
    <p>Here's a handy-dandy list of all of your repositories.</p>
  </div>

  <!-- Table -->
  <table class="table">
    <tr>
      <th> Repo Name</th>
      <th> Last Updated</th>
      <th> Link-y Button</th>
    </tr>
    <% @repositories.each do |repo| %>
      <tr>
        <td id='repo_name'><%= repo.name%></td>
        <td id='repo_updated_at'><%= repo.updated_at%></td>
        <td id='repo_link'><a href="https://github.com/<%= repo.url_ext%>" class="btn btn-success btn-lg" role="button">Visit Repo</a></td>
      </tr>
    <% end %>
  </table>
</div>
