<h2 align="center" id='welcome_banner'>Followed Recent Activity</h2>
<% @follow_activity.each do |hash| %>
    <% hash.each do |user, commits| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 id="followed_username">Followed User: <%= user %></h3>
      </div>
    </div>
      <% commits.each do |commit| %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title"><%= commit.date %></h4>
          </div>
          <div class="panel-body" id='commit_message'>
            Message: <p align="left"><%= commit.message %></p>
            <a href="<%= commit.repo_url %>" class="btn btn-success btn-lg" role="button" id='commit_link'>View Commit</a>
          </div>
        </div>
      <% end %>
    <% end %>
<% end %>
