
  <div class="container" id="welcome_mat">
    <div class="jumbotron">
      <h1>Welcome to the GitHub Digester.</h1>
      <h3 align='center'>Most of this definitely worked the first try...or two.</h3>
      <p id=login_button align='center'><a class="btn btn-danger btn-lg" href="http://github.com/login/oauth/authorize?client_id=<%=ENV['GITHUB_KEY']%>&scope=repo%20public_repo%20user" role="button">GitHub Login</a></p>
    </div>
  </div>
  <img src="https://d13yacurqjgara.cloudfront.net/users/420183/screenshots/2875637/octocat_github.gif" width='100%'>
